:root {
    /* Cores personalizadas */
    --cor-principal: #C78BA7;
    --cor-rosa: #ec94a1;
    --cor-secundaria: #ffa392;
    --cor-laranja: #ffd770;
    --cor-amarelo: #f9f871;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* Não tem fundo global para evitar sobreposição no banner */
}

header {
    background: var(--cor-rosa);
    padding: 20px 0;
}

.logo-da-header {
    width: 150px;  /* Tamanho fixo para a logo */
    height: auto;  /* Mantém a proporção da imagem */
}

.caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 940px;  /* Ajuste fixo para centralizar no desktop */
    margin: 0 auto;
}

nav {
    top: 110px;
    right: 0;
}

nav ul {
    display: grid;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: var(--cor-branco);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: var(--cor-escuro);
    text-decoration: underline;
}

/* Estilização para Tablets (telas médias) */
@media screen and (min-width: 480px) {
    nav ul { 
        display: inline;
    }
}

/* Estilização para Desktop (telas maiores) */
@media screen and (min-width: 1080px) {
    .caixa {
        width: 940px;
    }
}
