:root {
    /* cores personalisadas */
    --cor-principal:#C78BA7;
    --cor-rosa:#ec94a1;
    --cor-secundaria:#ffa392;
    --cor-laranja:#ffd770;
    --cor-amarelo:#f9f871;
    --cor-branco:#ffffff;
    --cor-preto:#000000;
    }

body {
    font-family: 'Montserrat', sans-serif;
    /* Certifique-se de que não haja "background-color" ou "background" aqui */
}

/* Adicione este novo bloco no seu style.css, de preferência no final */
.produtos-page {
    background-image: url("img/grabemos-redes.sociais.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .contato-page {
    background-color: #ffffff;
}
.contato-page {
    background-color: #ffffff;
}

header {
    background: var(--cor-rosa);
    padding: 20px 0;
}

.logo-da-header {
    width: 20vw;
}

.logo-Branco {
    width: 20vw;
}

.banner {
    width: 100%;
    height: 450px;
}

.imagembeneficios {
    width: 60%;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.menu-home a:hover {
    color: #ffa392;
    text-decoration: underline;
}

.menu-produtos a:hover {
    color: #ffba7f;
    text-decoration: underline;
}

.menu-contato a:hover {
    color: #ffd770;
    text-decoration: underline;
}

main {}


.video {
    width: 560px;
    margin: 2em auto;
}

main p {
    background: pink;
}

main > p {
    ackground: pink; 
}

img + p { 
    background: yellow;
}

img ~ p {
    background: orange
} 

.principal p:not(#missao) {
    background: white;
}
@media screen and (max-width: 480px) {
.caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios,
    .imagem-beneficios {
        width: 100%;
    }
}

.table-container {
    display: flex;  
    justify-content: center;
    align-items: center;
    }

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.produtos li {
  flex: 1 1 250px;
  max-width: 300px;
  text-align: center;
}

.imagem-produto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}