
.mapa {
    padding: 3em 0;
    background-color: linear-gradient(#f9f871, #000);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: fit-content;
    margin: 0 auto;
}